
<header class="hero">
  <h1>¿Apuros con una materia?</h1>
  <h2>Encuentra <span>ayuda</span> sin salir del Tec</h2>
</header>

<section class="section-container">
  <img src="./img/promo.jpg" alt="Kiosko de tutorías" class="section-img">
  <div class="section-header">
    <h2 class="section-title">Punto de reunión</h2>
    <p class="section-description">
      Encuéntrate con tu mentor en la área de nuestro campus, ahí podrán colaborar según la asesoría en la que te inscribas.
      Queremos colaborar en la mejora de la comunicación en nuestra comunidad, por lo que al usar este sitio, además de mejorar con tus materias, podrás crear relaciones sociales!
    </p>
  </div>
</section>