{{#if success_msg}}
  <div class="alerts-container">
      <div class="alert-container alert-success" role="alert">
        <div class="alert-circle circle-green">
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="9" viewBox="0 0 12 9" fill="none">
            <path d="M3.70199 7.27336L1.21849 4.78986C0.939364 4.51074 0.488469 4.51074 0.209344 4.78986C-0.0697813 5.06899 -0.0697813 5.51988 0.209344 5.79901L3.20099 8.79066C3.48012 9.06978 3.93101 9.06978 4.21014 8.79066L11.7823 1.21849C12.0614 0.939364 12.0614 0.488469 11.7823 0.209344C11.5032 -0.0697813 11.0523 -0.0697813 10.7732 0.209344L3.70199 7.27336Z" fill="#2D2C32"/>
            </svg>
        </div>
        <p>{{success_msg}}</p>
        <button class="alert-btn" onclick="closeAlert(this)">
          <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M7.05749 5.99936L11.7796 1.28477C11.9207 1.14363 12 0.952206 12 0.752604C12 0.553001 11.9207 0.361573 11.7796 0.220433C11.6384 0.079292 11.447 0 11.2474 0C11.0478 0 10.8564 0.079292 10.7152 0.220433L6.00064 4.94251L1.28605 0.220433C1.14491 0.079292 0.953486 1.77216e-07 0.753883 1.78703e-07C0.55428 1.80191e-07 0.362852 0.079292 0.221712 0.220433C0.0805712 0.361573 0.00127934 0.553001 0.00127934 0.752604C0.00127934 0.952206 0.0805712 1.14363 0.221712 1.28477L4.94379 5.99936L0.221712 10.7139C0.151459 10.7836 0.0956977 10.8665 0.0576447 10.9579C0.0195918 11.0492 0 11.1472 0 11.2461C0 11.3451 0.0195918 11.443 0.0576447 11.5344C0.0956977 11.6257 0.151459 11.7086 0.221712 11.7783C0.291391 11.8485 0.37429 11.9043 0.465628 11.9424C0.556966 11.9804 0.654935 12 0.753883 12C0.852831 12 0.950799 11.9804 1.04214 11.9424C1.13348 11.9043 1.21637 11.8485 1.28605 11.7783L6.00064 7.05621L10.7152 11.7783C10.7849 11.8485 10.8678 11.9043 10.9591 11.9424C11.0505 11.9804 11.1485 12 11.2474 12C11.3463 12 11.4443 11.9804 11.5357 11.9424C11.627 11.9043 11.7099 11.8485 11.7796 11.7783C11.8498 11.7086 11.9056 11.6257 11.9436 11.5344C11.9817 11.443 12.0013 11.3451 12.0013 11.2461C12.0013 11.1472 11.9817 11.0492 11.9436 10.9579C11.9056 10.8665 11.8498 10.7836 11.7796 10.7139L7.05749 5.99936Z" fill="#9B9EBB"/>
          </svg>
        </button>
    </div>

  </div>
{{/if}}

{{#if info_msg}}
  <div class="alerts-container">
      <div class="alert-container alert-info" role="alert">
        <div class="alert-circle circle-blue">
          <svg width="8" height="16" viewBox="0 0 8 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6.33941 14.024C6.33341 14.026 5.78041 14.21 5.30041 14.21C5.03541 14.21 4.92841 14.155 4.89441 14.131C4.72641 14.014 4.41441 13.795 4.94841 12.731L5.94841 10.737C6.54141 9.55299 6.62941 8.40799 6.19341 7.51199C5.83741 6.77899 5.15441 6.27599 4.27341 6.09599C3.95816 6.03147 3.63719 5.99897 3.31541 5.99899C1.46641 5.99899 0.221408 7.07899 0.169408 7.12499C0.0825881 7.20151 0.0249984 7.30577 0.00645887 7.42C-0.0120806 7.53423 0.00957801 7.65136 0.067742 7.75141C0.125906 7.85145 0.216973 7.92823 0.325415 7.96863C0.433856 8.00904 0.552957 8.01058 0.662408 7.97299C0.667408 7.97099 1.22141 7.78599 1.70141 7.78599C1.96441 7.78599 2.07041 7.84099 2.10341 7.86399C2.27241 7.98199 2.58541 8.20399 2.05241 9.26599L1.05241 11.261C0.458408 12.446 0.371408 13.591 0.807408 14.486C1.16341 15.219 1.84541 15.722 2.72841 15.902C3.04241 15.965 3.36441 15.999 3.68241 15.999C5.53241 15.999 6.77841 14.919 6.83041 14.873C6.9173 14.7967 6.97504 14.6925 6.99379 14.5784C7.01254 14.4643 6.99114 14.3472 6.93323 14.247C6.87533 14.1469 6.7845 14.07 6.67622 14.0293C6.56794 13.9886 6.44891 13.9867 6.33941 14.024Z" fill="#2D2C32"/>
            <path d="M5.50049 5C6.8812 5 8.00049 3.88071 8.00049 2.5C8.00049 1.11929 6.8812 0 5.50049 0C4.11978 0 3.00049 1.11929 3.00049 2.5C3.00049 3.88071 4.11978 5 5.50049 5Z" fill="#2D2C32"/>
          </svg>
        </div>
        <p>{{info_msg}}</p>
        <button class="alert-btn" onclick="closeAlert(this)">
          <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M7.05749 5.99936L11.7796 1.28477C11.9207 1.14363 12 0.952206 12 0.752604C12 0.553001 11.9207 0.361573 11.7796 0.220433C11.6384 0.079292 11.447 0 11.2474 0C11.0478 0 10.8564 0.079292 10.7152 0.220433L6.00064 4.94251L1.28605 0.220433C1.14491 0.079292 0.953486 1.77216e-07 0.753883 1.78703e-07C0.55428 1.80191e-07 0.362852 0.079292 0.221712 0.220433C0.0805712 0.361573 0.00127934 0.553001 0.00127934 0.752604C0.00127934 0.952206 0.0805712 1.14363 0.221712 1.28477L4.94379 5.99936L0.221712 10.7139C0.151459 10.7836 0.0956977 10.8665 0.0576447 10.9579C0.0195918 11.0492 0 11.1472 0 11.2461C0 11.3451 0.0195918 11.443 0.0576447 11.5344C0.0956977 11.6257 0.151459 11.7086 0.221712 11.7783C0.291391 11.8485 0.37429 11.9043 0.465628 11.9424C0.556966 11.9804 0.654935 12 0.753883 12C0.852831 12 0.950799 11.9804 1.04214 11.9424C1.13348 11.9043 1.21637 11.8485 1.28605 11.7783L6.00064 7.05621L10.7152 11.7783C10.7849 11.8485 10.8678 11.9043 10.9591 11.9424C11.0505 11.9804 11.1485 12 11.2474 12C11.3463 12 11.4443 11.9804 11.5357 11.9424C11.627 11.9043 11.7099 11.8485 11.7796 11.7783C11.8498 11.7086 11.9056 11.6257 11.9436 11.5344C11.9817 11.443 12.0013 11.3451 12.0013 11.2461C12.0013 11.1472 11.9817 11.0492 11.9436 10.9579C11.9056 10.8665 11.8498 10.7836 11.7796 10.7139L7.05749 5.99936Z" fill="#9B9EBB"/>
          </svg>
        </button>
    </div>

  </div>
{{/if}}

{{#if error_msg}}
    <div class="alerts-container">
      <div class="alert-container alert-error" role="alert">
        <div class="alert-circle circle-red">
          <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M7.05749 5.99936L11.7796 1.28477C11.9207 1.14363 12 0.952206 12 0.752604C12 0.553001 11.9207 0.361573 11.7796 0.220433C11.6384 0.079292 11.447 0 11.2474 0C11.0478 0 10.8564 0.079292 10.7152 0.220433L6.00064 4.94251L1.28605 0.220433C1.14491 0.079292 0.953486 1.77216e-07 0.753883 1.78703e-07C0.55428 1.80191e-07 0.362852 0.079292 0.221712 0.220433C0.0805712 0.361573 0.00127934 0.553001 0.00127934 0.752604C0.00127934 0.952206 0.0805712 1.14363 0.221712 1.28477L4.94379 5.99936L0.221712 10.7139C0.151459 10.7836 0.0956977 10.8665 0.0576447 10.9579C0.0195918 11.0492 0 11.1472 0 11.2461C0 11.3451 0.0195918 11.443 0.0576447 11.5344C0.0956977 11.6257 0.151459 11.7086 0.221712 11.7783C0.291391 11.8485 0.37429 11.9043 0.465628 11.9424C0.556966 11.9804 0.654935 12 0.753883 12C0.852831 12 0.950799 11.9804 1.04214 11.9424C1.13348 11.9043 1.21637 11.8485 1.28605 11.7783L6.00064 7.05621L10.7152 11.7783C10.7849 11.8485 10.8678 11.9043 10.9591 11.9424C11.0505 11.9804 11.1485 12 11.2474 12C11.3463 12 11.4443 11.9804 11.5357 11.9424C11.627 11.9043 11.7099 11.8485 11.7796 11.7783C11.8498 11.7086 11.9056 11.6257 11.9436 11.5344C11.9817 11.443 12.0013 11.3451 12.0013 11.2461C12.0013 11.1472 11.9817 11.0492 11.9436 10.9579C11.9056 10.8665 11.8498 10.7836 11.7796 10.7139L7.05749 5.99936Z" fill="#2D2C32"/>
          </svg>
        </div>
        <p>{{error_msg}}</p>
        <button class="alert-btn" onclick="closeAlert(this)">
          <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M7.05749 5.99936L11.7796 1.28477C11.9207 1.14363 12 0.952206 12 0.752604C12 0.553001 11.9207 0.361573 11.7796 0.220433C11.6384 0.079292 11.447 0 11.2474 0C11.0478 0 10.8564 0.079292 10.7152 0.220433L6.00064 4.94251L1.28605 0.220433C1.14491 0.079292 0.953486 1.77216e-07 0.753883 1.78703e-07C0.55428 1.80191e-07 0.362852 0.079292 0.221712 0.220433C0.0805712 0.361573 0.00127934 0.553001 0.00127934 0.752604C0.00127934 0.952206 0.0805712 1.14363 0.221712 1.28477L4.94379 5.99936L0.221712 10.7139C0.151459 10.7836 0.0956977 10.8665 0.0576447 10.9579C0.0195918 11.0492 0 11.1472 0 11.2461C0 11.3451 0.0195918 11.443 0.0576447 11.5344C0.0956977 11.6257 0.151459 11.7086 0.221712 11.7783C0.291391 11.8485 0.37429 11.9043 0.465628 11.9424C0.556966 11.9804 0.654935 12 0.753883 12C0.852831 12 0.950799 11.9804 1.04214 11.9424C1.13348 11.9043 1.21637 11.8485 1.28605 11.7783L6.00064 7.05621L10.7152 11.7783C10.7849 11.8485 10.8678 11.9043 10.9591 11.9424C11.0505 11.9804 11.1485 12 11.2474 12C11.3463 12 11.4443 11.9804 11.5357 11.9424C11.627 11.9043 11.7099 11.8485 11.7796 11.7783C11.8498 11.7086 11.9056 11.6257 11.9436 11.5344C11.9817 11.443 12.0013 11.3451 12.0013 11.2461C12.0013 11.1472 11.9817 11.0492 11.9436 10.9579C11.9056 10.8665 11.8498 10.7836 11.7796 10.7139L7.05749 5.99936Z" fill="#9B9EBB"/>
          </svg>
        </button>
    </div>
    </div>

{{/if}}
    
<script>
    function closeAlert(button) {
    // Encuentra el contenedor de la alerta
    const alertContainer = button.closest('.alert-container');
  
    if (alertContainer) {
    // Añade la clase 'hidden' para aplicar el efecto de transición
        alertContainer.classList.add('hidden');

    // Espera 3 segundos antes de remover la alerta del DOM
    setTimeout(function () {
      alertContainer.remove();
    }, 30);
  }
}

</script>